@model List<HR_Rerutement.Models.Demandeur>

@{
    ViewBag.Title = "Chat";
    Layout = "~/Views/Shared/_LayoutRH.cshtml";
}

<div class="pd-ltr-20 xs-pd-20-10">
    <div class="min-height-200px">

        <div class="bg-white border-radius-4 box-shadow mb-30">
            <div class="row no-gutters">
                <div class="col-lg-4 col-md-4 col-sm-12">
                    <div class="chat-list bg-light-gray" style="height: 80vh;">
                        <div class="chat-search">
                            <span class="ti-search"></span>
                            <input type="text" placeholder="Search Contact">
                        </div>
                        <div class="notification-list chat-notification-list customscroll">
                            <ul>

                                @foreach (var demandeur in Model)
                                {

                                 <li onclick="getdd('@demandeur.Empl_Matricule', '@demandeur.Empl_Nom_Prenom')">
                                      <a href="#">
                                        <img src="https://images.assetsdelivery.com/compings_v2/panyamail/panyamail1502/panyamail150200091.jpg" alt="">
                                        <h3 style="font-size: 14px;">@demandeur.Empl_Nom_Prenom</h3>
                                        <p><i class="fa fa-circle text-light-green"></i> online</p>
                                      </a>
                                 </li>

                                }

                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-8 col-md-8 col-sm-12">
                    <div class="chat-detail" style="height: 80vh;">
                        <div class="chat-profile-header clearfix">
                            <div class="left">
                                <div class="clearfix">
                                    <div class="chat-profile-photo">
                                        <img src="~/FrontFinal/theme/vendors/images/chat-img2.jpg" alt="">
                                    </div>
                                    <div class="chat-profile-name">
                                        <h5 class="app_name" style="font-size: 14px;">Connecting .....</h5>
                                        <span>New Message</span>
                                    </div>
                                </div>
                            </div>
                            <div class="right text-right">
                                <div class="dropdown">
                                    <a class="btn btn-outline-primary dropdown-toggle" href="#" role="button" data-toggle="dropdown">
                                        Setting
                                    </a>
                                    <div class="dropdown-menu dropdown-menu-right">
                                        <a class="dropdown-item" href="#">Export Chat</a>
                                        <a class="dropdown-item" href="#">Search</a>
                                        <a class="dropdown-item text-light-orange" href="#">Delete Chat</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="chat-box">
                            <div class="chat-desc customscroll">
                                <ul class="list-unstyled">
                                </ul>
                            </div>
                            <div class="chat-footer">
                                <div class="file-upload"><a href="#"><i class="fa fa-paperclip"></i></a></div>
                                <div class="chat_text_area">
                                    <textarea placeholder="Type your message…" id="message_content"></textarea>
                                    <input type="hidden" value="" id="receiver_matricule" />
                                </div>
                                <div class="chat_send">
                                    <button class="btn btn-link" type="button" onclick="send_message()"><i class="icon-copy ion-paper-airplane"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>

<script>
    function getdd(dduser, name_user) {

        console.log(dduser);
        $(".app_name").empty();
        $(".list-unstyled").empty();


        console.log('username', name_user);

        $(".app_name").append(name_user);

        $("#receiver_matricule").val(dduser);

        // ajax request
        /*$.ajax({
          dataType: "json",
          type: "GET",
          url: data_url,
            success: function (response) {
                console.log(response);
         }
     });*/

        $.ajax(
            {
                type: 'POST',
                dataType: 'JSON',
                url: '/RH/GetDataMessages',
                data: { matricule_user: dduser },
                success:
                    function (response) {

                        console.log($.parseJSON(response));

                        dataArray = $.parseJSON(response);

                        var len = dataArray.length;
                        for (var i = 0; i < len; i++) {
                            var id_sender = dataArray[i].id_sender;
                            var id_receiver = dataArray[i].id_receiver;
                            var message_text = dataArray[i].contenu;
                            var date_send = dataArray[i].date_create;
                            var str_send = " <li class='clearfix admin_chat'>" +
                                "<span class='chat-img'>" +
                                "<img src='https://images.assetsdelivery.com/compings_v2/panyamail/panyamail1502/panyamail150200091.jpg'>" +
                                "</span>" +
                                "<div class='chat-body clearfix'>" +
                                "<p>" + message_text + "</p>" +
                                "<div class='chat_time'>" + date_send + "</div>" +
                                "</div>" +
                                "</li >";

                            var str_receive = "<li class='clearfix'>" +
                                "<span class='chat-img'>" +
                                "<img src='https://images.assetsdelivery.com/compings_v2/panyamail/panyamail1502/panyamail150200091.jpg'>" +
                                "</span>" +
                                "<div class='chat-body clearfix'>" +
                                "<p>" + message_text + "</p>" +
                                "<div class='chat_time'>" + date_send + "</div>" +
                                "</div>" +
                                "</li >";


                            if (id_sender == dduser) {

                                $(".list-unstyled").append(str_receive);
                            }
                            if (id_receiver == dduser) {
                                $(".list-unstyled").append(str_send);
                            }

                        }

                    },
                error:
                    function (response) {

                        //alert("Error: " + response);

                        var str_receive = "<li class='clearfix'>" +
                            "<div class='chat-body clearfix'>" +
                            "<p>No Message Exist</p>" +
                            "</div>" +
                            "</li >";

                        $(".list-unstyled").append(str_receive);

                        console.log(response);

                    }
            });



    }

    function send_message() {

        var message = $('#message_content').val()
        var receiver_mat = $('#receiver_matricule').val();

        console.log(message);

        // ajax request send message
        $.ajax({
            type: 'POST',
            dataType: 'JSON',
            url: '/RH/newMessage',
            data: { receiver: receiver_mat, content: message },
            success: function (response) {

                console.log(response);
               
            }
        });





    }

</script>

